<header class="cd-header">
        <nav>
            <ul class="cd-secondary-nav">
                <li><a href="products.html">Products</a>
                </li>
            </ul>
        </nav>
        <!-- cd-nav -->

        <a class="cd-primary-nav-trigger" href="#0">
            <span class="cd-menu-text">Menu</span>&nbsp;<span class="cd-menu-icon"></span>
        </a>
        <!-- cd-primary-nav-trigger -->
    </header>

    <nav>
        <ul class="cd-primary-nav cd-primary-nav-trigger">
            <li class="cd-label">Wilder Beard Company</li>

            <li><a data-scroll href="#about">Home</a>
            </li>
            <li><a href="products.html">Products</a>
            </li>
            <li><a href="locations.html">Locations</a>
            </li>
            <li><a href="faq.html">FAQ</a>
            </li>
            <li><a href="contact.html">Contact Us</a>
            </li>

            <li class="cd-label">Follow us</li>

            <li class="cd-social cd-facebook"><a href="https://www.facebook.com/wilderbeardco">Facebook</a>
            </li>
            <li class="cd-social cd-instagram"><a href="#0">Instagram</a>
            </li>
            <li class="cd-social cd-twitter"><a href="#0">Twitter</a>
            </li>

            <!--            <li class="cd-label">Follow us</li>-->

            <li class="cd-label shoutout">
                <p>Designed with <i>&hearts;</i> by <a href="http://www.sleepingbeardesign.com/">Sleeping Bear Design</a></p>
            </li>
        </ul>
    </nav>