/* --------------------------------
Primary style
-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#faq *::after,
#faq *::before {
    content: '';
}

body {
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
    background-color: #444
}

body.overflow-hidden {
    /* when primary navigation is visible,the content in the background won't scroll */
    
    overflow: hidden
}

body::after {
    /* overlay layer visible on small devices when the right panel slides in */
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 83, 89, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

body.cd-overlay::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 768px) {
    body::after {
        display: none;
    }
}

a {
    color: white;
    text-decoration: none
}

img {
  max-width: 100%;
}

.center {
    text-align: center;
}
/* --------------------------------
Modules - reusable parts of our design
-------------------------------- */

.cd-container {
    /* this class is used to give a max-width to the element it is applied to,and center it horizontally when it reaches that max-width */
    
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.cd-container::after {
    /* clearfix */
    
    content: '';
    display: table;
    clear: both;
}
/* --------------------------------
Main components
-------------------------------- */

.cd-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #f0f1e7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 3
}

.cd-header:after {
    content: "";
    display: table;
    clear: both
}

.cd-header #cd-logo {
    float: left;
    margin: 13px 0 0 5%
}

.cd-header #cd-logo img {
    display: block;
    z-index: -3
}

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 70px
    }
    .cd-header #cd-logo {
        margin: 23px 0 0 5%
    }
}

.cd-main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    background-size: 44px 44px;
    cursor: pointer
}

.cd-main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
}

.cd-main-nav ul.is-visible {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px)
}

.cd-main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #f0f1e7;
    border-top: 1px solid #f0f1e7;
    color: #FFF
}

@media only screen and (min-width: 768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto
    }
    .cd-main-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 70px
    }
    .cd-main-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
    .cd-main-nav li {
        display: inline-block;
        margin-left: 1em
    }
    .cd-main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border-top: none;
        font-size: 13px;
        font-size: 0.8125rem;
        font-weight: bold;
        text-transform: uppercase
    }
}
/**/

.cd-header {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, .95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 80px;
        background: transparent;
        box-shadow: none
    }
}

@media only screen and (min-width: 1170px) {
    .cd-header {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }
    .cd-header.is-fixed {
        /* when the user scrolls down,we hide the header right above the viewport */
        
        position: fixed;
        top: -80px;
        background-color: rgba(51, 51, 51, 0.96);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s
    }
    .cd-header.is-visible {
        /* if the user changes the scrolling direction,we show the header */
        
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    .cd-header.menu-is-open {
        /* add a background color to the header when the navigation is open */
        
        background-color: rgba(51, 51, 51, 0.96)
    }
}

.cd-logo {
    display: block;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: .875em
}

.cd-logo img {
    display: block
}

@media only screen and (min-width: 768px) {
    .cd-logo {
        left: 2.6em
    }
}

.cd-secondary-nav {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10em;
    /* hidden on small devices */
    
    display: none
}

.cd-secondary-nav li {
    display: inline-block;
    margin-left: 2.2em
}

.cd-secondary-nav a {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-weight: 700
}

@media only screen and (min-width: 768px) {
    .cd-secondary-nav {
        display: block
    }
}

.cd-primary-nav-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    /*    background-color: #03263d*/
}

.cd-primary-nav-trigger .cd-menu-text {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    /* hide the text on small devices */
    
    display: none
}

.cd-primary-nav-trigger .cd-menu-icon {
    /* this span is the central line of the menu icon */
    
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}

.cd-primary-nav-trigger .cd-menu-icon::before,
.cd-primary-nav-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s
}

.cd-primary-nav-trigger .cd-menu-icon::before {
    top: -5px
}

.cd-primary-nav-trigger .cd-menu-icon::after {
    top: 5px
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0)
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before,
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    background-color: white
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg)
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg)
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav-trigger {
        width: 100px;
        padding-left: 1em;
        background-color: transparent;
        height: 30px;
        line-height: 30px;
        right: 2.2em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    .cd-primary-nav-trigger .cd-menu-text {
        display: inline-block
    }
    .cd-primary-nav-trigger .cd-menu-icon {
        left: auto;
        right: 1em;
        -webkit-transform: translateX(0) translateY(-50%);
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%)
    }
}

.cd-primary-nav {
    /* by default it's hidden - on top of the viewport */
    
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.96);
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s
}

.cd-primary-nav li {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: .2em 0;
    text-transform: capitalize
}

.cd-primary-nav a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s
}

.no-touch .cd-primary-nav a:hover {
    background-color: #f0f1e7;
    color: #222;
}

.cd-primary-nav .cd-label {
    color: #f0f1e7;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 2.4em 0 .8em
}

.cd-primary-nav .cd-social {
    display: inline-block;
    margin: 0 .4em
}

.cd-primary-nav .cd-social a {
    width: 44px;
    height: 44px;
    padding: 0;
    background-image: url("../img/cd-socials.svg");
    background-repeat: no-repeat;
    /* image replacement */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap
}

.cd-primary-nav .cd-facebook a {
    background-position: 0 0
}

.cd-primary-nav .cd-instagram a {
    background-position: -44px 0
}

.cd-primary-nav .cd-twitter a {
    background-position: -132px 0
}

.cd-primary-nav .cd-facebook a:hover {
    background-color: #3b5998;
}

.cd-primary-nav .cd-instagram a:hover {
    background-color: #517fa4;
}

.cd-primary-nav .cd-twitter a:hover {
    background-color: #00aced;
}

.cd-prymary-nav .shoutout {
    color: #f0f1e7;
}

.cd-primary-nav .shoutout i {
    color: #f35535;
}

.cd-primary-nav .shoutout a {
    padding: 0;
}

.cd-primary-nav .shoutout a:hover {
    background-color: transparent;
    color: #ccc;
}

.cd-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav {
        padding: 80px 0
    }
}

@media only screen and (min-width: 1170px) {
    .cd-primary-nav li {
        font-size: 30px;
        font-size: 1.875rem
    }
    .cd-primary-nav .cd-label {
        font-size: 16px;
        font-size: 1rem
    }
}
/**/

#cd-intro {
    position: relative;
    height: 300px;
    margin-top: 50px;
    z-index: 1
}

#cd-intro #cd-intro-background {
    height: 100%;
    width: 100%;
    background: url("../img/cd-intro-background.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    z-index: -4
}

#cd-intro #cd-intro-tagline img {
    position: absolute;
    /*    width: 90%;*/
    
    max-width: 270px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

#cd-intro h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    color: #FFF;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2)
}

@media only screen and (min-width: 768px) {
    #cd-intro {
        height: 470px;
        margin-top: 0px
    }
    #cd-intro h1 {
        font-size: 30px;
        font-size: 1.875rem
    }
}

@media only screen and (min-width: 1170px) {
    #cd-intro {
        position: fixed;
        /* do not overlap the header */
        
        top: 0px;
        left: 0;
        width: 100%;
        height: 570px;
        margin-top: 0
    }
    #cd-intro #cd-intro-tagline img {
        max-width: 400px;
    }
    #cd-intro h1 {
        font-size: 32px;
        font-size: 2rem
    }
}

.cd-content {
    position: relative;
    padding: 2em 0;
    line-height: 1.5;
    color: #65676f;
    background-color: #f0f1e7;
    z-index: 1
}

.cd-content::before {
    /* subtle gradient right above the main content */
    
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient( bottom, rgba(46, 49, 61, 0.5), rgba(46, 49, 61, 0));
    background: linear-gradient(to top, rgba(46, 49, 61, 0.5), rgba(46, 49, 61, 0))
}

.no-cssgradients .cd-content::before {
    /* use Modernizr to detect whether the browser supports or not css gradients */
    
    display: none
}

.cd-content h1 {
    font-size: 24px;
    font-size: 2rem;
    font-weight: 700;
}

.cd-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
}

.cd-content h3 {
    font-size: 19px;
    font-size: 1rem;
    font-weight: 700;
}

.cd-content p {
    margin: 1em 0
}

@media only screen and (min-width: 768px) {
    .cd-content h2 {
        font-size: 30px;
        font-size: 1.5rem
    }
}

@media only screen and (min-width: 1170px) {
    .cd-content {
        padding: 4em 0;
        margin-top: 570px
    }
    .cd-content p {
        font-size: 20px;
        font-size: 1.25rem
    }
}

footer {
    height: 275px;
    color: #ccc;
    font-size: 12px;
    position: relative;
    z-index: -2;
    background-color: #444;
}
/* Set a width to the outermost UL, center it and fix it to the window */

footer > div {
    /*	width:960px;*/
    
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    z-index: -1;
}

@media only screen and (min-width: 512px) {
    footer {
        height: 200px;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        height: 150px;
    }
    footer > div {
        left: 50%;
        margin-left: -480px;
    }
}

footer p {
    width: 90%;
    margin-right: 10%;
    padding: 9px 0;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
    opacity: 0.9;
    cursor: default;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
/* -------------------------------- 

Form

-------------------------------- */

.cd-form {
    width: 90%;
    max-width: 600px;
    margin: 4em auto;
}

.cd-form::after {
    clear: both;
    content: "";
    display: table;
}

.cd-form fieldset {
    margin: 24px 0;
}

.cd-form legend {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    border-bottom: 1px solid #ecf0f1;
}

.cd-form div {
    /* form element wrapper */
    
    position: relative;
    margin: 20px 0;
}

.cd-form h4,
.cd-form .cd-label {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 10px;
}

.cd-form .cd-label {
    display: block;
}

.cd-form input,
.cd-form textarea,
.cd-form select,
.cd-form label {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #333;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
    /* general style for input elements */
    
    padding: 12px;
    border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
    outline: none;
    border-color: #444;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
    ;
}

.cd-form .cd-select {
    /* select element wapper */
    
    position: relative;
}

.cd-form .cd-select::after {
    /* arrow icon for select element */
    
    content: '';
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none;
}

.cd-form select {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.cd-form select::-ms-expand {
    display: none;
}

#form-messages {
    display: none;
    padding: 1px;
    background: #fff;
    border-color: #bbb;
}
.cd-form .cd-form-list {
    margin-top: 16px;
}

.cd-form .cd-form-list::after {
    clear: both;
    content: "";
    display: table;
}

.cd-form .cd-form-list li {
    /* wrapper for radio and checkbox input types */
    
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 26px 16px 0;
    float: left;
}

.cd-form input[type=radio],
.cd-form input[type=checkbox] {
    /* hide original check and radio buttons */
    
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}

.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
    padding-left: 24px;
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
    /* custom radio and check boxes */
    
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
    border: 1px solid #555;
    background: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
    border-radius: 50%;
}

.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
    border-radius: .25em;
}

.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
    background-color: #444;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.4);
    display: none;
}

.cd-form input[type="radio"] + label::after {
    /* custom image for radio button */
    
    background-image: url("../img/cd-icon-radio.svg");
}

.cd-form input[type="checkbox"] + label::after {
    /* custom image for checkbox */
    
    background-image: url("../img/cd-icon-check.svg");
}

.cd-form input[type="radio"]:focus + label::before,
.cd-form input[type="checkbox"]:focus + label::before {
    /* add focus effect for radio and check buttons */
    
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.6);
}

.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
    display: block;
}

.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
    -webkit-animation: cd-bounce 0.3s;
    -moz-animation: cd-bounce 0.3s;
    animation: cd-bounce 0.3s;
}

.cd-form textarea {
    min-height: 200px;
    resize: vertical;
    overflow: auto;
}

.cd-form input[type="submit"] {
    /* button style */
    
    border: none;
    background: #444;
    border-radius: .25em;
    padding: 16px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .cd-form input[type="submit"]:hover {
    background: #555;
}

.cd-form input[type="submit"]:focus {
    outline: none;
    background: #333;
}

.cd-form input[type="submit"]:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.cd-form [required] {
    background: url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .error-message p {
    background: #e94b35;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: .25em;
    padding: 16px;
}

.cd-form .error {
    border-color: #e94b35 !important;
}

.cd-form .success-message p {
    background: #9bd32d;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: .25em;
    padding: 16px;
}

.cd-form .success {
    border-color: #9bd32d !important;
}

.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@media only screen and (min-width: 600px) {
    .cd-form div {
        /* form element wrapper */
        
        margin: 32px 0;
    }
    .cd-form legend + div {
        /* reduce margin-top for first form element after the legend */
        
        margin-top: 20px;
    }
    .cd-form h4,
    .cd-form .cd-label {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .cd-form input[type="text"],
    .cd-form input[type="email"],
    .cd-form textarea,
    .cd-form select {
        padding: 16px;
    }
}

@-webkit-keyframes cd-bounce {
    0%, 100% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
    }
}

@-moz-keyframes cd-bounce {
    0%, 100% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(0.8);
    }
}

@keyframes cd-bounce {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
}
/* -------------------------------- 

Products

-------------------------------- */


.cd-items {
    padding: 1em 1em 0;
    background: #fff;
    border-radius: .5em;
    border: 1px solid #bbb;
    margin: 1em 1em;
}

.cd-items h3{
    color: #666;
    padding: 0 0 1em 0;
}
@media only screen and (min-width: 768px) {
  .cd-items {
    padding: 1em 2em 0;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-items {
    padding: 2em 4em 0;
  }
}

.cd-item {
  position: relative;
  margin: 0 0 1em;
}
.cd-item > img {
  display: block;
  width: 100%;
}
.cd-quick-view{
    position:relative;
    z-index:9999
}
@media only screen and (min-width: 768px) {
  .cd-item {
    width: 48%;
    float: left;
    margin: 0 4% 2em 0;
  }
  .cd-item:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-item {
    width: 22%;
    float: left;
    margin: 0 4% 2.8em 0;
  }
  .cd-item:nth-child(2n) {
    margin-right: 4%;
  }
  .cd-item:nth-child(4n) {
    margin-right: 0;
  }
  .cd-item.empty-box::after {
    /* box visible as placeholder when the .cd-quick-view zooms in */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #392c3f;
  }
}

.cd-trigger {
  position: absolute;
  height: 50px;
  line-height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  -moz-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
}
.no-touch .cd-trigger:hover {
  background: rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 1024px) {
  .cd-trigger {
    /* always visible on small devices */
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-trigger {
    /* only visible on hover on big devices */
    opacity: 0;
  }
}

@media only screen and (min-width: 1170px) {
  .no-touch .cd-item:hover .cd-trigger {
    opacity: 1;
  }

  .touch .cd-item .cd-trigger {
    opacity: 1;
  }
}
.cd-quick-view {
  /* quick view non available on small devices */
  display: none;
  
}
@media only screen and (min-width: 1024px) {
  .cd-quick-view {
    display: block;
    position: fixed;
    max-width: 900px;
    visibility: hidden;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: left, top, width;
    z-index:9999;
  }
  .cd-quick-view:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-quick-view.is-visible {
    /* class added when user clicks on .cd-trigger */
    visibility: visible;
  }
  .cd-quick-view.animate-width {
    /* class added at the end of the first zoom-in animation */
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
}

.cd-slider-wrapper {
  position: relative;
  display: inline-block;
  float: left;
}
.cd-slider-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-slider {
  float: left;
}
.cd-slider li {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.cd-slider li img {
  display: block;
  width: 100%;
  max-width: 400px;
}
.cd-slider li.selected {
  position: relative;
  z-index: 3;
}
.add-content .cd-slider {
  margin-right: 3em;
}

.cd-slider-navigation {
  opacity: 0;
}
.add-content .cd-slider-navigation {
  opacity: 1;
}

.cd-slider-navigation li {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}
.cd-slider-navigation li:first-child {
  left: 0;
}
.cd-slider-navigation li:last-child {
  /* equal to the .cd-slider-wrapper margin-right */
  right: 3em;
}
.cd-slider-navigation li a {
  display: block;
  width: 40px;
  height: 50px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.2s, background 0.2s;
  -moz-transition: opacity 0.2s, background 0.2s;
  transition: opacity 0.2s, background 0.2s;
}
.cd-slider-navigation li a::before, .cd-slider-navigation li a::after {
  /* create arrows in CSS */
  position: absolute;
  top: 18px;
  left: 14px;
  display: inline-block;
  background: #ffffff;
  height: 3px;
  width: 12px;
}
.cd-slider-navigation li a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-slider-navigation li a::after {
  -webkit-transform: translateY(7px) rotate(-45deg);
  -moz-transform: translateY(7px) rotate(-45deg);
  -ms-transform: translateY(7px) rotate(-45deg);
  -o-transform: translateY(7px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
}
.add-content .cd-slider-navigation li a {
  opacity: .2;
}
.no-touch .cd-slider-navigation li a:hover {
  background: rgba(71, 55, 78, 0.8);
  opacity: 1;
}
.touch .cd-slider-navigation li a {
  opacity: 1;
}
.cd-slider-navigation li:first-child a::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-slider-navigation li:first-child a::after {
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

.cd-item-info {
  position: absolute;
  padding: 3em 3em 3em 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility 0s;
  -moz-transition: opacity .3s, visibility 0s;
  transition: opacity .3s, visibility 0s;
}
.cd-item-info h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.3;
}
.cd-item-info p {
  line-height: 1.5;
  font-size: 1.0rem;
  margin: 1em 0;
  color: #67919c;
}
.cd-item-info .cd-item-action li {
  display: inline-block;
  margin-right: 1em;
}
.cd-item-info .cd-item-action li:first-child {
  margin-left: -4px;
}
.cd-item-info .add-to-cart {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0.25em;
  border: none;
  padding: .6em 1.2em;
  background-color: #444;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
}
.cd-item-info .add-to-cart:hover {
  background-color: #666;
}
.add-content .cd-item-info {
  /* class added at the end of the width animation, used to show the content */
  position: relative;
  visibility: visible;
  opacity: 1;
}
.add-content .cd-item-info h2 {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}
.add-content .cd-item-info p {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}
.add-content .cd-item-info .cd-item-action {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    -ms-transform: translate3d(-40px, 0, 0);
    -o-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.cd-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #666;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
  transition: transform .3s 0s, visibility 0s .3s;
  z-index:9999;
}
.cd-close::before, .cd-close::after {
  /* close icon in css */
  position: absolute;
  top: 12px;
  left: 5px;
  display: inline-block;
  height: 4px;
  width: 20px;
  background: #47374e;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.no-touch .cd-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.add-content .cd-close {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
  transition: transform .3s 0s, visibility 0s 0s;
}
.quick-view-content{
    display:none
}

#cd-quick-view-coverlay{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#000;
    background:rgba(0,0,0,0.6);
    z-index:999;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    opacity:0;
    display:none;
    
}
#cd-quick-view-coverlay.overlay_active{
    display:block;
    opacity:1;
}

/* -------------------------------- 

Custom icons

-------------------------------- */

.cd-form .icon input,
.cd-form .icon select,
.cd-form .icon textarea {
    padding-left: 54px !important;
}

.cd-form .user {
    background: url("../img/cd-icon-user.svg") no-repeat 16px center;
}

.cd-form [required].user {
    background: url("../img/cd-icon-user.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
    background-color: #ffffff;
}

.cd-form .email {
    background: url("../img/cd-icon-email.svg") no-repeat 16px center;
}

.cd-form [required].email {
    background: url("../img/cd-icon-email.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
    background-color: #ffffff;
}

.cd-form .message {
    background: url("../img/cd-icon-message.svg") no-repeat 16px 16px;
}

.cd-form [required].message {
    background: url("../img/cd-icon-message.svg") no-repeat 16px 16px, url("../img/cd-required.svg") no-repeat top right;
    background-color: #ffffff;
}
/* -------------------------------- 

FLoating labels 

-------------------------------- */

.js .floating-labels div {
    margin: 32px 0;
}

.js .floating-labels .cd-label {
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: text;
    -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
    -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
    transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.js .floating-labels .icon .cd-label {
    left: 56px;
}

.js .floating-labels .cd-label.float {
    /* move label out the input field */
    
    font-size: 1rem;
    top: -26px;
    left: 0 !important;
}

@media only screen and (min-width: 600px) {
    .js .floating-labels legend + div {
        /* reduce margin-top for first form element after the legend */
        
        margin-top: 16px;
    }
    .js .floating-labels .cd-label {
        top: 20px;
    }
}
/* ------------------------------------

FAQ Section

-------------------------------------- */

.cd-faq {
    width: 90%;
    margin: 2em auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.cd-faq:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 768px) {
    .cd-faq {
        position: relative;
        margin: 4em auto;
        box-shadow: none;
    }
}

.cd-faq-categories a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 28px 0 16px;
    background-color: #4e5359;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    white-space: nowrap;
    border-bottom: 1px solid #555b61;
    text-overflow: ellipsis;
}

.cd-faq-categories a::before,
.cd-faq-categories a::after {
    /* plus icon on the right */
    
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #7f868e;
}

.cd-faq-categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cd-faq-categories li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .cd-faq-categories {
        width: 20%;
        float: left;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
    .cd-faq-categories a {
        font-size: 13px;
        font-size: 0.8125rem;
        font-weight: 600;
        padding-left: 24px;
        padding: 0 24px;
        -webkit-transition: background 0.2s, padding 0.2s;
        -moz-transition: background 0.2s, padding 0.2s;
        transition: background 0.2s, padding 0.2s;
    }
    .cd-faq-categories a::before,
    .cd-faq-categories a::after {
        display: none;
    }
    .no-touch .cd-faq-categories a:hover {
        background: #555b61;
    }
    .no-js .cd-faq-categories {
        width: 100%;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-faq-categories {
        position: absolute;
        top: 90;
        left: 0;
        width: 200px;
        z-index: 2;
    }
    .cd-faq-categories a::before {
        /* decorative rectangle on the left visible for the selected item */
        
        display: block;
        top: 0;
        right: auto;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #959ba2;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
    .cd-faq-categories .selected {
        background: #42464b !important;
    }
    .cd-faq-categories .selected::before {
        opacity: 1;
    }
    .cd-faq-categories.is-fixed {
        /* top and left value assigned in jQuery */
        
        position: fixed;
    }
    .no-js .cd-faq-categories {
        position: relative;
    }
}

.cd-faq-items {
    position: fixed;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

.cd-faq-items a {
    color: #2d3c48;
}

.cd-faq-items.slide-in {
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
}

.no-js .cd-faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

@media only screen and (min-width: 768px) {
    .cd-faq-items {
        position: static;
        height: auto;
        width: 78%;
        float: right;
        overflow: visible;
        -webkit-transform: translateZ(0) translateX(0);
        -moz-transform: translateZ(0) translateX(0);
        -ms-transform: translateZ(0) translateX(0);
        -o-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        padding: 0;
        background: transparent;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-faq-items {
        float: none;
        width: 100%;
        padding-left: 220px;
    }
    .no-js .cd-faq-items {
        padding-left: 0;
    }
}

.cd-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
}

.cd-close-panel::before,
.cd-close-panel::after {
    /* close icon in CSS */
    
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e;
}

.cd-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-close-panel.move-left {
    right: 2%;
}

@media only screen and (min-width: 768px) {
    .cd-close-panel {
        display: none;
    }
}

.cd-faq-group {
    /* hide group not selected */
    
    display: none;
}

.cd-faq-group.selected {
    display: block;
}

.cd-faq-group .cd-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0;
}

.no-touch .cd-faq-group .cd-faq-title:hover {
    box-shadow: none;
}

.cd-faq-group .cd-faq-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #bbbbc7;
}

.no-js .cd-faq-group {
    display: block;
}

@media only screen and (min-width: 768px) {
    .cd-faq-group {
        /* all groups visible */
        
        display: block;
    }
    .cd-faq-group > li {
        background: #ffffff;
        margin-bottom: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        -webkit-transition: box-shadow 0.2s;
        -moz-transition: box-shadow 0.2s;
        transition: box-shadow 0.2s;
    }
    .no-touch .cd-faq-group > li:hover {
        box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }
    .cd-faq-group .cd-faq-title {
        margin: 2em 0 1em;
    }
    .cd-faq-group:first-child .cd-faq-title {
        margin-top: 0;
    }
}

.cd-faq-trigger {
    position: relative;
    display: block;
    margin: 1.6em 0 .4em;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) {
    .cd-faq-trigger {
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
        padding: 24px 72px 24px 24px;
    }
    .cd-faq-trigger::before,
    .cd-faq-trigger::after {
        /* arrow icon on the right */
        
        position: absolute;
        right: 24px;
        top: 50%;
        height: 2px;
        width: 13px;
        background: #959ba2;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .cd-faq-trigger::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 32px;
    }
    .cd-faq-trigger::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.cd-faq-content p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #959ba2;
}

@media only screen and (min-width: 768px) {
    .cd-faq-content {
        display: none;
        padding: 0 24px 30px;
    }
    .cd-faq-content p {
        line-height: 1.6;
    }
    .no-js .cd-faq-content {
        display: block;
    }
}
/* Locations */

#locations a,
#faq p a,
#about p a,
#retailers p a,
#featured p a {
    color: #222;
}

#locations a:hover,
#faq p a:hover {
    color: #666;
}

#locations .onerow {
    padding-top: 30px;
}

#locations address {
    padding-bottom: 5px;
}
/*Featured item */

.featured-item {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}