<main class="cd-content">
    <div id="faq" class="cd-container">
        <h2>FAQ</h2>
        <p>You may browse our Frequently Asked Questions below to find your answer, or you can always reach out and <a href="/contact">Contact Us</a> for a more detailed response.</p>
        <div class="cd-faq">
            <ul class="cd-faq-categories">
                <li><a class="selected" href="#basics">Basics</a></li>
                <li><a href="#product">Product</a></li>
                <li><a href="#delivery">Ordering</a></li>
            </ul>
            <!-- cd-faq-categories -->

            <div class="cd-faq-items">
                <ul id="basics" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Basics</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">What is beard balm?</a>
                        <div class="cd-faq-content">
                            <p>Beard balm is a men's grooming product used to condition and hold facial hair. Our products come in various consistencies (light and medium hold and wax), as well as manly scents.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">What is better for my beard? Balm or oil?</a>
                        <div class="cd-faq-content">
                            <p>This is a matter of personal preference, style, and length of facial hair. Both can be used interchangeably for conditioning and adding fragrance and can be applied to all sorts and styles of facial hair. Balms offer an added value of providing a "hold" to your hair.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Should I use a comb or a brush on my facial hair?</a>
                        <div class="cd-faq-content">
                            <p>Another personal preference topic. We prefer combs as brushes tend to create more static and tangles. Boars hair brushes are best for the hair and wooden combs reduce or eliminate static electricity in our experience.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->

                <ul id="product" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Product</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">How often should I use grooming products in my facial hair?</a>
                        <div class="cd-faq-content">
                            <p>We say as often as you like! Our products are made with ingredients proven to promote and sustain healthy hair. (We use them all on a daily basis and have been for quite some time)</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">How do I apply balm?</a>
                        <div class="cd-faq-content">
                            <p>Scoop a pea sized amount of balm from the tin with the tip of your finger. Rub the balm between your hands to melt the balm to an oil consistency. Using your hands and fingers, massage the balm into your beard starting at your skin and working it through your entire beard. Use a comb or brush to shape.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">What ingredients do you use?</a>
                        <div class="cd-faq-content">
                            <p>Our balms use all natural ingredients including shea butter, coconut oil, and beeswax. The fragrances are derived from essential oils. Our shampoo bars are made using "mostly" natural ingredients as lye (sodium hydroxide) is not a naturally occurring ingredient but necessary in handcrafted soap making. Our oils use coconut oil as a carrier with essential oils added for fragrance.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">How long do your products last?</a>
                        <div class="cd-faq-content">
                            <p>The average shelf life of all of our products are 6 months or more. Actual usage varies and is dependent upon how often the product is used (daily vs. weekly) and the size of your beard or facial hair. Our shampoo bars have replaced bottled shampoo in our home and will typically last at least a month with daily usage (both beard and head hair). The 1 ounce beard balm will last about a month as well with daily usage on average facial hair.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">What scents do you carry? Can you make more?</a>
                        <div class="cd-faq-content">
                            <p>We currently carry Burl (cherry pipe tobacco), Sawmill (oakmoss and sandalwood), Woodsmoke (campfire), Riverbend (fresh earth, air, and water), Timber mint (fresh peppermint), Lumber Baron (turn of the century men’s cologne), and Hatchet (cedarwood oil) fragrances in our products but are always experimenting with new aromas and encourage our customers to submit scent ideas through our contact page. Producing small custom batches of our products allows us to offer many exciting new scents based on our community feedback!</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->

                <ul id="delivery" class="cd-faq-group">
                    <li class="cd-faq-title">
                        <h2>Ordering</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Where do you ship your products?</a>
                        <div class="cd-faq-content">
                            <p>Anywhere! If you would like to purchase our products outside of the US we will find a way to get it to you. Just send us an email with your order contents and a shipping address and we will respond with the cost of shipping. Inside of the United States - we use standard flat-rate shipping at a cost of $3.00 with most packages reaching their destination within 3-5 days of receiving payment.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Are refunds available for returned products?</a>
                        <div class="cd-faq-content">
                            <p>Due to the nature of our products, we are unable to accept opened product returns. We will, however, accept any unopened product for full refund any time.</p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>
                    
                    <li>
                        <a class="cd-faq-trigger" href="#0">Can you help with payment processing?</a>
                        <div class="cd-faq-content">
                            <p>All of our payments are proccessed trough <a href="https://squareup.com/">Square Up</a>. If there is an issue or you would like to view their privacy policy, please visit their <a href="https://squareup.com/help/us/en/">Support Center</a>. </p>
                        </div>
                        <!-- cd-faq-content -->
                    </li>
                </ul>
                <!-- cd-faq-group -->
            </div>
            <!-- cd-faq-items -->
            <a href="#0" class="cd-close-panel">Close</a>
        </div><br><br>
    </div>
</main>