<main class="cd-content">
    <div id="locations" class="cd-container">
        <h2>Where Can You Find Us?</h2>
        <p>Check out these great Local businesses who carry our products!</p>
        <div class="onerow">
            <span class="col4 location">
                <h3>Harvey Street Marketplace</h3>
                <address>4905 S Harvey St.<br>
   Norton Shores, MI</address>
   <tel>231.798.7958</tel><br>
                <a href="https://www.facebook.com/HarveyStreetMarketplace">Facebook</a><br><br>
            </span>
            <span class="col4 location">
                <h3>Craft Handmade</h3>
                <address>128 N Main St.<br>
   Adrian, MI</address>
   <tel>517.918.9158</tel><br>
                <a href="https://www.facebook.com/Craft-Handmade-929094843810939">Facebook</a><br><br>
            </span>
            <span class="col4 last location">
                <h3>Head of the Pride</h3>
                <address>444 Bridge St NW<br>
   Grand Rapids, MI</address>
   <tel>616.730.3143</tel><br>
                <a href="https://www.facebook.com/HeadofthePride">Facebook</a> | <a href="http://www.headofthepride.com/">Website</a>
            </span>
        </div>
        <div class="onerow">
            <span class="col4 location">
                <h3>3 Cord House</h3>
                <address>139 B Main<br>
   Zeeland, MI</address>
   <tel>616.953.9622</tel><br>
                <a href="https://www.facebook.com/pages/3-Cord-House/792218270859952?fref=ts">Facebook</a><br><br>
            </span>
            <span class="col4 location">
                <h3>The Barbershop</h3>
                <address>4500 Dowling St.<br>
   Montague, MI</address>
   <tel>231.893.0020</tel><br>
                <a href="https://www.facebook.com/Montaguebarbershop?fref=ts&ref=br_tf">Facebook</a><br><br>
            </span>
            <span class="col4 last location">
                <h3>Salon Mia Bella</h3>
                <address>4543 Grand Haven Rd.<br>
   Norton Shores, MI</address>
   <tel>231.798.9595</tel><br>
                <a href="https://www.facebook.com/pages/Salon-Mia-Bella/110410459042036">Facebook</a>
            </span>
        </div>
        <div class="onerow">
            <span class="col4 last location">
                <h3>Stately and Company</h3>
                <address>10 E Bridge St, Ste B<br>
   Rockford, MI</address>
   <tel>616.326.6565</tel><br>
                <a href="https://www.facebook.com/statelyandcompany">Facebook</a>
            </span>
        </div>
    </div>
    <div id="retailers" class="cd-container">
        <h2>Want to sell our products?</h2>
        <p>You can always reach out and <a href="/contact">Contact Us</a> for more information on how to sell our products and be listed here!</p>
    </div>
</main>