<main class="cd-content">
    <div id="products" class="cd-container">
        <h1 class="center">Products</h1>
        <p>Wilder Beard Company is beard-owned and operated. Our mission is to provide the best facial hair products used by men in everyday grooming. We are passionate about beard culture and our local community. We constantly seek local artisans and resources whenever possible to create our products.</p>

        <a href="https://mkt.com/wilderbeardcompany"
        data-menu-item-images="large"
        data-menu-accent-color="333333"
        data-menu-template="column"
        data-menu-border="show"
        data-menu-item-descriptions="show"
        class="sq-embed-menu">Order Online</a>
        <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
    </div>
</main>