 <footer>
        <div class="onerow">
            <span class="col4">
            {{ if .Site.Copyright }}
                <p>{{ .Site.Copyright }}. <a href="{{ .Site.BaseURL }}/privacy-policy-return-policy">Privacy Policy</a>. Made with <i class="fa fa-heart"></i> by <a href="http://sleepingbeardesign.com/" target="_blank">Sleeping Bear Design</a></p>
            {{ end }}
            </span>
            <span class="col8 last">
            {{ if .Site.Params.disclaimer }}
                <p>{{ .Site.Params.disclaimer }}</p>
            {{ end }}
            </span>
        </div>
    </footer>
    <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
    <script src="js/smooth-scroll.js"></script>
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/jquery.mobile.custom.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Resource jQuery -->
</body>

</html>