<li class="cd-item">
    <img src="{{ .imgUrl }}" alt="Item Preview">
    <a href="#" class="cd-trigger">Quick View</a>
    <a href="#" class="cd-trigger-mobile snipcart-add-item"
                        data-item-id="{{ .id }}"
                        data-item-name="{{ .title }}"
                        data-item-price="{{ .price }}"
                        data-item-weight="{{ .weight }}"
                        data-item-url="{{ .url }}">Add to cart</a>
    <div class="quick-view-content">
        <div class="quick-view-content-wrapper">
            <div class="cd-slider-wrapper">
                <ul class="cd-slider">
                    <li class="selected"><img src="{{ .imgUrl }}" alt="{{ .title }} Image 1"></li>
                    {{ if .imgUrl2 }}<li><img src="{{ .imgUrl2 }}" alt="{{ .title }} Image 2"></li>{{ end }}
                    {{ if .imgUrl3 }}<li><img src="{{ .imgUrl3 }}" alt="{{ .title }} Image 3"></li>{{ end }}
                </ul> <!-- cd-slider -->
                {{ if or (isset . "imgUrl2") (isset . "imgUrl3") }}
                <ul class="cd-slider-navigation">
                    <li><a class="cd-next" href="#0">Prev</a></li>
                    <li><a class="cd-prev" href="#0">Next</a></li>
                </ul> <!-- cd-slider-navigation -->
                {{ end }}
            </div> <!-- cd-slider-wrapper -->

            <div class="cd-item-info">
                <h2>{{ .title }} - ${{ .price }}</h2>
                <p>{{ .description | markdownify }}</p>
                {{ with .ingredients }}<p class="ingredients">{{.}}</p>{{ end }}
                {{ with .specialInstructions }}<em>{{.}}</em>{{ end }}
                
                <ul class="cd-item-action">
                    <li><button class="add-to-cart snipcart-add-item"
                        data-item-id="{{ .id }}"
                        data-item-name="{{ .title }}"
                        data-item-price="{{ .price }}"
                        data-item-weight="{{ .weight }}"
                        data-item-url="{{ .url }}">Add to cart</button></li>                     
                </ul> <!-- cd-item-action -->
            </div> <!-- cd-item-info -->
        </div>
    </div>
    <h4>{{ .title }} - ${{ .price }}</h4>
</li> <!-- cd-item -->
