{{ partial "header.html" . }}
<body>
	{{ partial "navbar.html" . }}
    <section id="cd-intro">
        <div id="cd-intro-background"></div>
        <div id="cd-intro-tagline">
            <img src="img/logo-white.png" alt="{{ .Site.Title }}">
            <!--            <h1>{{ .Site.Title }}</h1>-->
        </div>
        <!-- cd-intro-tagline -->
    </section>
    <!-- #cd-intro -->

    <main class="cd-content">
        <div id="about" class="cd-container">
            <h1 class="center">{{ .Site.Title }}</h1>
            {{ if .Site.Params.tagline }}<h2 class="center">{{ .Site.Params.tagline }}</h2> {{ end }}
            {{ if .Site.Params.subtagline }}<h3 class="center">{{ .Site.Params.subtagline }}</h3> {{ end }}
            
            <p>Our <a href="/products">products</a> are proudly created in an area steeped in history and lumberman culture. At Wilder Beard Company, we strive to capture the essence of this history in our fragrances - each tied to our woodsman roots. Even our logo has been inspired by this history as a reminder of the log marks once used by the mills surrounding our lake.</p>
        </div>
        
        <div id="featured" class="cd-container">
            <h2>Featured Products</h2>
            
            <p>Here in West Michigan, we make all natural, quality products. Every beard and moustache is unique. We offer balms and waxes handmade with every sort in mind. From heavy waxes and balms to tame the wildest moustaches and manes, to light and conditioning balms for a softer gentler hold. Check out all of our <a href="/products">products</a>!</p>

            <ul class="cd-items cd-container">
            <h3>Featured Products</h3>
            {{ range $.Site.Data.products.accessories }}
                {{ partial "home-product.html" . }}
            {{ end }} 
            </ul> 

            <div id="cd-quick-view" class="cd-quick-view">
                <a href="#" class="cd-close">Close</a>
            </div> <!-- cd-quick-view -->

            <div id="cd-quick-view-coverlay"></div>
        </div>
    </main>
{{ partial "footer.html" . }}