{{ partial "header.html" . }}
<body>
	{{ partial "navbar.html" . }}
    <section id="cd-intro">
        <div id="cd-intro-background"></div>
        <div id="cd-intro-tagline">
            <img src="img/logo-white.png" alt="{{ .Site.Title }}">
            <!--            <h1>{{ .Site.Title }}</h1>-->
        </div>
        <!-- cd-intro-tagline -->
    </section>
    <!-- #cd-intro -->

    <main class="cd-content">
        <div id="about" class="cd-container">
            <h1 class="center">{{ .Site.Title }}</h1>
            {{ if .Site.Params.tagline }}<h2 class="center">{{ .Site.Params.tagline }}</h2> {{ end }}
            {{ if .Site.Params.subtagline }}<h3 class="center">{{ .Site.Params.subtagline }}</h3> {{ end }}

            <p>Our <a href="/products">products</a> are proudly created in an area steeped in history and lumberman culture. At Wilder Beard Company, we strive to capture the essence of this history in our fragrances - each tied to our woodsman roots. Even our logo has been inspired by this history as a reminder of the log marks once used by the mills surrounding our lake.</p>

            <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/tb92sKcexDA" frameborder="0" allowfullscreen></iframe></div>
        </div>

        {{ if .Site.Params.instagram }}
        <div id="instagram" class="sect-instagram cd-container">
                <div class="single-instagram-header">
                    <h1 class="center"><span class="grayed">Stay Connected</span></h1>
                    <p class="h2"><span class="grayed">Follow</span> <a href="http://instagram.com/{{ .Site.Params.instagram }}" target="_blank"><span class="at-symbol">@</span>{{ .Site.Params.instagram }}</a> <span class="grayed">on Instagram</span></p>
                </div>
                <div id="instafeed"><!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b325330f97b55de0b9d1bbc38109e7cd.html" id="lightwidget_b325330f97" name="lightwidget_b325330f97"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe></div>
        </div>
        {{ end }}

        <div id="featured" class="cd-container">
            <h1 class="center">Featured Products</h1>

            <p>Here in West Michigan, we make all natural, quality products. Every beard and moustache is unique. We offer balms, oils, and waxes handmade with every sort in mind. From heavy waxes and balms to tame the wildest moustaches and manes, to light and conditioning balms and oils for a softer gentler hold. Check out all of our <a href="products">products</a>!</p>

            <ul id="featured-products" class="cd-items cd-container">
              <li><a href="https://squareup.com/market/wilderbeardcompany/wilder-beard-company-peachwood-comb" data-menu-accent-color="333333" class="sq-embed-item">Peachwood Comb on Square Market</a></li>
              <li><a href="https://squareup.com/market/wilderbeardcompany/lumber-baron-oil-ounce" data-menu-accent-color="333333" class="sq-embed-item">Lumber Baron Beard Oil on Square Market</a></li>
            </ul>
            <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
            <div class="center">
                <a class ="btn center" href="products">View All Products</a>
            </div>
            <div id="cd-quick-view" class="cd-quick-view">
                <a href="#" class="cd-close">Close</a>
            </div> <!-- cd-quick-view -->

            <div id="cd-quick-view-coverlay"></div>
        </div>
    </main>
{{ partial "footer.html" . }}
